*{
    padding: 0;
    margin: 0;
    border: border-box;
}


body{
    font-family: sans-serif;
}

header{
    background-color: rgb(255	104	0);
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 2;
    height: 70px;
}



header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

header nav ul{

    display: flex;
    list-style: none;
}

.logo{
    height: 30px;

}


.logo img{
    height: 30px;
    

}

.icons i{
    color: whitesmoke;
    padding: 3px;
}

.icons a{

    text-decoration: none;
    padding-left: 10px;


}


.container {
    max-width: 1170px;
    margin:  auto;
}



main{
    padding: 100px 0px;
}
.main-menu li{
    color: whitesmoke;
    padding-right: 10px;

}

.columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
}

.product {
    position: relative;
}

.col {
    width: calc(100% / 4);
    padding: 20px;
}

.product img {
    width: 100%;
    position: relative;
}
.product .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.product:hover .img-top {
    display: inline;
}

.wishlist{
    right: 0;
    top: 30px;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    background-color: white;
    text-align: center;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.wishlist:hover{
    color: red;
}



.tags{
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 99;

}

.tag{
    padding: 5px;
    margin-right: 5px;
    color: white;
}


.discount{
    background-color: red;
}

.eco{
    background-color: green;
}

.text-product{

    font-size: 12px;

}



footer{
    padding: 10px;
    background-color: black;

}

.footer-bottom{
    display: flex;
    justify-content: space-around;
}

.title-footer{
    color: white;
    line-height: 1.5;
}

.social{
    color: white;
    padding: 2px;
    line-height: 1.5;
}

.social i{
    
    padding: 5px;
    
    
}