*{
    padding: 0;
    margin: 0;
    border: border-box;
}


body{
    font-family: sans-serif;
}

header{
    height: 41px;
    background-color: orange;
    
    display: flex;
    justify-content: space-evenly;
}

.logo{
    padding-top: 5px;

}


.logo img{
    height: 30px;
    

}

.icons{
    color: whitesmoke;
    padding-top: 10px;
}


i{
    padding: 3px;
}

.container {
    max-width: 1170px;
    margin: 100px auto;
}

.gender{
    color: whitesmoke;
    padding-top: 10px;

}

.columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
}

.product {
    position: relative;
}

.col {
    width: calc(100% / 4);
    padding: 20px;
}

.product img {
    width: 100%;
}
.product .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.product:hover .img-top {
    display: inline;
}


footer{
    padding: 10px;
    background-color: black;

}

.footer-bottom{
    display: flex;
    justify-content: space-around;
}

.title-footer{
    color: white;
}

.social{
    color: white;
    padding: 2px;
}